<div class="tab-pane" ng-cloak>

    <div class="modal fade" tabindex="-1" id="editor" role="dialog" dialog="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" translate="{{ deviceConstraint.isUpdate ? 'edit' : 'new' }}"> </div>
                <div class="modal-body">
                    <form  kendo-validator="validator" ng-submit="" class="form-horizontal">
                        <fieldset ng-disabled="isView">


                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="deviceConstraintType" translate="device.constraint.label.deviceConstraintType"></label>
                                <div class="col-sm-5">
                                    <select ng-options="option.id as option.name for option in deviceConstraintTypes.data" class="form-control"  ng-model="deviceConstraint.deviceConstraintType" id="deviceConstraintType" name="deviceConstraintType" validationMessage="Enter {0}"  required>
                                        <option value="">{{ 'choose'| translate }}</option>
                                    </select>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="deviceConstraintFilter" translate="device.constraint.label.deviceConstraintFilter"></label>
                                <div class="col-sm-5">
                                    <select ng-options="option.id as option.name for option in deviceConstraintFilters.data" class="form-control"  ng-model="deviceConstraint.deviceConstraintFilter" id="deviceConstraintFilter" name="deviceConstraintFilter" validationMessage="Enter {0}"  required>
                                        <option value="">{{ 'choose'| translate }}</option>
                                    </select>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="filter_detail" translate="device.constraint.label.filter_detail"></label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control input-md" id="filter_detail" name="filter_detail"
                                           ng-model="deviceConstraint.filter_detail"  required validationMessage="Enter {0}" >
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="dataStatus" translate="status">Status</label>
                                <div class="col-sm-3">
                                    <select kendo-drop-down-list="dataStatus"
                                            ng-model="deviceConstraint.dataStatus"
                                            name="dataStatus"
                                            k-data-text-field="'text'"
                                            k-data-value-field="'value'"
                                            k-data-source="dataStatusDataSource"
                                            style="  width: 119px;">
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <div ng-show="!isView" class="popup-process">
                        <button class="btn btn-primary" ng-click="update($event)"  has-right="{{ right.UPDATE }}"  ng-show="deviceConstraint.isUpdate" translate="update">Update</button>
                        <button class="btn btn-primary" ng-click="update($event)"  has-right="{{ right.CREATE }}"  ng-show="deviceConstraint.isCreate" translate="save">Save</button>
                    </div>
                    <button class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div kendo-tool-bar k-options="toolbarOptions"></div>
            <div
                    kendo-grid-checkbox
                  kendo-grid="grid"
                  k-data-source="dataSource"
                  k-options="gridOptions"
                  k-on-change="onChange(data)"
                  k-height="400">
            </div>
        </div>
    </div>

</div>

