<div>
    <form kendo-validator="validator" ng-submit=""  name="form" enter-navigate autocomplete="off" class="form-horizontal">
        <fieldset ng-disabled="isView">
            <div role="tabpanel" class="item-tab-container">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" ui-sref-active="active"><a ui-sref=".detail" aria-controls="detail" role="tab" tabindex="-1" translate="campaign.detail">Detail</a></li>
                    <li role="presentation" ui-sref-active="active"><a ui-sref=".campaignSections" aria-controls="campaignSections" role="tab" tabindex="-1" ng-show="!isCreate" translate="campaign.campaignSections">Campaign Sections</a></li>
                    <li role="presentation" ui-sref-active="active"><a ui-sref=".campaignConstraints" aria-controls="campaignConstraints" role="tab" tabindex="-1" ng-show="!isCreate" translate="campaign.campaignConstraints">Campaign Constraints</a></li>
                    <!--
                    <li role="presentation" ui-sref-active="active"><a ui-sref=".profilesList" aria-controls="profilesList" role="tab" tabindex="-1" ng-show="!isCreate" translate="security.user.profiles">Profils</a></li>
                    <li role="presentation" ui-sref-active="active"><a ui-sref=".groupList" aria-controls="groupList" role="tab" tabindex="-1" ng-show="!isCreate" translate="security.user.groups">Groups</a></li>
                    <li role="presentation" ui-sref-active="active"><a ui-sref=".memberGroupList" aria-controls="memberGroupList" role="tab" tabindex="-1" ng-show="!isCreate" translate="security.user.memberGroups">Member Groups</a></li>
                    -->
                <div class="col-sm-offset-1 form-control-buttons">
                    <div ng-show="!isView" class="popup-process">
                     <button class="btn btn-danger" ng-click="removeDialog()" has-right="{{ right.DELETE }}"    ng-show="isUpdate" translate="delete">Delete</button>
                        <button class="btn btn-primary" ng-click="save($event)"  has-right="{{ right.UPDATE }}"  ng-class="{disabled: form.$invalid}"  ng-show="isUpdate" translate="update">Update</button>
                        <!--     <button class="btn btn-primary" ng-click="save($event)"  has-right="{{ right.CREATE }}"  ng-class="{disabled: form.$invalid}"  ng-show="isCreate" translate="save">Save</button> -->
                    </div>
                </div>
            </div>
            <!-- tablar buraya geliyor -->
            <div ui-view="tabContent" class="tab-content-ui"></div>

        </fieldset>
        <div class="row">
            <div class="col-sm-2">
                <button type="button" ui-sref="campaignManagement" class="k-button pull-left ng-scope c-back" translate="backBtn"></button>
            </div>
        </div>
    </form>
</div>
