<script id="comboTemplate" type="text/x-kendo-template">
    <span class="k-state-default">#= data.text#</span>
    <span class="k-state-default">##</span>
</script>

<script type="text/x-kendo-template" id="active-template">
    #if(data.active == true){#
        <button class="k-widget k-button"   ng-click="setDeActive('#= data.id #')"  translate="campaign.button.setDeActive"></button>
    #}else{#
        <button class="k-widget k-button"   ng-click="setActive('#= data.id #')"  translate="campaign.button.setActive"></button>
    #}#
</script>



<div>
    <div class="panel panel-default">
        <div class="panel-body">
            <form ng-submit="search(campaignSearch)" novalidate class="form-inline">
                <fieldset ng-disabled="!right">
                    <div class="form-group">
                        <label for="firstname" translate="campaign.label.status"></label>
                        
                        <select name="active" ng-model="campaignSearch.active" class="form-control input-sm">
                            <option value="true">{{ 'data.status.active' | translate }}</option>
                            <option value="false">{{ 'data.status.passive' | translate }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-default" translate="search" type="submit">Search</button>
                        <button class="btn btn-default" ng-click="clearSearch()" translate="clearSearch">Clear Search</button>
                    </div>

                    <button class="btn btn-default pull-right" translate="campaign.refreshCampaign" ng-click="refreshCampaign()">Refresh Campaign</button>
                </fieldset>
            </form>
        </div>
    </div>


    <div>
        <div kendo-tool-bar k-options="toolbarOptions"></div>
        <div
                kendo-grid-checkbox
                id="grid"
                kendo-grid="grid"
                data-role="grid"
                k-data-source="data"
                k-data-binding="dataBinding"
                k-options="gridOptions"
                k-on-change="onChange(data)"
        >
        </div>
    </div>
</div>
