<section class="sidebar" ng-controller="SidebarController">
    <div class="user-panel" ng-show="isAuthenticated">
        <div class="pull-left image">
            <img src="/assets/images/avatar3.png" class="img-circle" alt="User Image" />
        </div>
        <div class="pull-left info">
            <p ng-bind="account.firstName"></p>

            <a href=""><i class="fa fa-circle text-success"></i> Online</a>
        </div>
    </div>

    <ul class="sidebar-menu">
        <li treeview>
            <a href="">
                <i class="fa fa-lock"></i>
                <span translate="global.menu.security.title">Security</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a ui-sref="userManagement" translate="global.menu.security.user">User</a></li>
                <li><a ui-sref="roleManagement" translate="global.menu.security.role">Role</a></li>
            </ul>
        </li>
    </ul>
    <ul class="sidebar-menu">
        <li treeview>
            <a href="">
                <i class="fa fa-lock"></i>
                <i class="fa fa-lock"></i>
                <span translate="global.menu.defination.title">Defination</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a ui-sref="platformUserManagement" translate="global.menu.defination.platformUser">Platform User</a></li>
            </ul>
        </li>
    </ul>

    <ul class="sidebar-menu">
        <li >
            <a ui-sref="deviceManagement">
                <i class="fa fa-mobile"></i>
                <span translate="global.menu.device">Device</span>
            </a>
        </li>
    </ul>


    <ul class="sidebar-menu">
        <li >
            <a ui-sref="campaignManagement">
                <i class="fa fa-mobile"></i>
                <span translate="global.menu.campaign">Campaign</span>
            </a>
        </li>
    </ul>


    <ul class="sidebar-menu">
        <li treeview>
            <a href="">
                <i class="fa fa-lock"></i>
                <span translate="global.menu.report.title">Report</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a ui-sref="eventRunReportManagement" translate="global.menu.report.eventRunReport">Event Run Report</a></li>
                <li><a ui-sref="sspViewReportManagement" translate="global.menu.report.sspViewReport">SSP View Report</a></li>
            </ul>
        </li>
    </ul>


</section>

<script>
    //Enable sidebar toggle
    $("[data-toggle='offcanvas']").click(function(e) {
        e.preventDefault();

        //If window is small enough, enable sidebar push menu
        if ($(window).width() <= 992) {
            $('.row-offcanvas').toggleClass('active');
            $('.left-side').removeClass("collapse-left");
            $(".right-side").removeClass("strech");
            $('.row-offcanvas').toggleClass("relative");
        } else {
            //Else, enable content streching
            $('.left-side').toggleClass("collapse-left");
            $(".right-side").toggleClass("strech");
        }
    });
</script>
